<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Quiz Admin</title>
    <link rel="stylesheet" href="/public/admin/style.css">
</head>

<body>
    {{> navbar }}
    <div class="container">
        {{> header }}
        {{{ body }}}
    </div>
</body>
<script src="/public/admin/script.js"></script>

</html>